p.logotext{
	color:white;
	font-size:40px;
	font-weight: bold;
	font-family: Calibri;
 	text-shadow: 2px 2px 6px #FF0000;
	float: left;
	margin-left: 130px;
}

hr{
	opacity: 0.4;
	border:1px dashed white;
}

img.atatürk{
	width: 300px;
	height: 220px;
	float:left;
	padding-left: 140px;
}

img.logo{
	margin-left: 45px;
	width:340px;
	height:235px;
	float: left;
}

a.link{
	text-decoration: none;
	margin-left: 25px;
	font-size:30px;
	font-family:Candara;
	color:white;
}

a.link:hover{
	color:#fd5f00;
}


#general{
	width:1500px;
	height: 900px;
	margin: auto;
}

.header{
	width: 1500px;
	height: 220px;
	border:3px solid #30475E;
	border-radius: 15px;
	background-color:#13334c;
	text-align: left;
}

.menu{
	width:1500px;
	height:50px;
	border:3px solid#30475E;
	border-radius: 15px;
	margin-top:10px;
	padding-top: 10px;
	background-color: #13334c;
	text-align:center;
}

.main{
	width: 1500px;
	border:3px solid #30475E;
	border-radius: 15px;
	margin-top: 10px;
	background-color: #13334c;
}

p.welcomeForum{
	font-size:25px;
	text-align: center;	
	font-family: Candara;
	color:#fff1ac;
	font-style: italic;
}
th.message{
	font-size:30px;
	font-family: Calibri;
	color:orange;
	font-style: italic;
	display: block;
	margin-bottom: 10px;
	text-shadow: 3px 3px 5px black;
}
td{
	display: block;	
}

textarea{
	border:3px solid #FCE38A;
	border-radius: 15px;
	margin-bottom: 10px;
}


input[type=submit]
{
	width: 280px;
	border-radius: 5px;
	font-size:20px;
	margin-left: 5px;
	font-weight: bold;
}

input[type=submit]:hover{
	background-color: #FCE38A;
}

h3{
		text-align: right;
}
a.messageLink{
	font-size:30px;
	font-style: italic;
	text-decoration: none;
	margin-right: 35px;
	font-family: Calibri;
	color:red;
}

a.messageLink:hover{
	color:green;
}
.bottom{
	width: 1500px;
	height:75px;
	margin-top:10px;
	margin-bottom: 15px;
	border:3px solid #30475E;
	background-color: #13334c;
	border-radius: 15px;
	text-align: center;
	font-family: Arial;
	font-size:25px;
	color:#ceefe4;
}

a.instagram{
	text-decoration: none;
	color:#ceefe4;
}

a.instagram:active{
	color:orange;
}
